# Server Configuration
PORT=5000
NODE_ENV=development

# Database Settings
# Relative from root of backend folder or absolute path
DB_PATH=./src/database/leadflow.db

# Security Secrets
JWT_SECRET=super_secret_key_change_me_in_production

# CORS Policy Settings
CLIENT_URL=http://localhost:5173
